    <div class="container-top">
        <h1>Menu</h1>
    </div>

      <div class='container-left'>
        <h2>Not devoured</h2>
          <table class ="table">
            <thead>
                  <tr>
                      <th>Not devoured</th>
                      <th>Devour it</th>
                  </tr>
              </thead>
                <tbody>
                  <tr>
                      {{#each foods}}
                      {{#unless this.devoured}}
                        <td>
                          {{this.burger_name}}
                        </td>
                        <td>
                            <form action="/{{this.id}}  ?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value="true">
                            <button type="submit">Devour it!</button>
                            </form>
                        </td>
                  </tr>
                  {{/unless}}
                {{/each}}
              </tbody>
            </table>
      </div>

      <div class="container-middle">
            <h2>Add a burger</h2>
            <form class="create-update-form" action="/" method="POST">
              <div class="form-group">
                <label for="ca">Burger Name:</label>
                <input type="text" id="ca" name="burger_name">
              </div>
              <button type="submit">Add burger</button>
          </form>
      </div>

        <div class="container-right">
            <h2>Devoured</h2>
              <table class ="table">
                <thead>
                  {{#each foods}}
                    {{#if this.devoured}}
                      <tr>
                        {{this.burger_name}}
                        <form action="/{{this.id}}?_method=DELETE" method="POST">
                          <input type="hidden" name="id" value="{{this.id}}">
                          <button type="submit">Delete</button>
                        </form>
                      <tr>
                      <br><br>
                  </thread>
                {{/if}}
              {{/each}}
            </ul>
        </div>



